[submodule "sources/openmm"]
	path = sources/openmm
	url = https://github.com/peastman/openmm.git
[submodule "HOWTO"]
	path = HOWTO
	url = https://github.com/inspiremd/HOWTO.git
[submodule "sources/autodocvina"]
	path = sources/autodocvina
	url = https://code.ornl.gov/8nt/autodocvina.git
